﻿<%@ Page Title="Accueil" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="Accueil.aspx.cs" Inherits="PresentationWeb.Accueil" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">
    
    <h2>Bienvenue dans ma boutique !</h2>
    
    <asp:DropDownList ID="DropDownList1" runat="server"></asp:DropDownList>
    <asp:Button ID="btnTestRayon" runat="server" Text="OK" />
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

    <asp:BulletedList ID="BulletedList1" runat="server"></asp:BulletedList>


</asp:Content>
