﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="Article.aspx.cs" Inherits="PresentationWeb.Article" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">
    <asp:Label ID="lblArticle" runat="server" Text="Label"></asp:Label>
    <asp:Label ID="lblDescription" runat="server" Text="Label"></asp:Label>
    <p>
        Prix Unitaire : <asp:Label ID="lblPrixUnitaire" runat="server" Text="Label"></asp:Label>€
    </p>
    <p>
        Stock : <asp:Label ID="lblStock" runat="server" Text="Label"></asp:Label>
    </p>
    <div>
        <!-- Futur Bouton select quantité et ajouter au panier. -->
    </div>

</asp:Content>
