﻿body {
    margin: 0;
    background-color: #b2b2b2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mainContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    #mainContent > header,
    #mainContent > nav,
    #mainContent > section,
    #mainContent > footer {
        background-color: antiquewhite;
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
    }


    #mainContent > header {
        flex-basis: 20%;
    }

    #mainContent > nav {
        flex-basis: 10%;
    }

    #mainContent > section {
        flex-grow: 1;
    }

    #mainContent > footer {
        flex-basis: 15%;
    }
